<style>
    header{
        overflow: hidden;
        background: rgba(19, 13, 13, 0.185);
        backdrop-filter: blur(3px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(5px);
    }
</style>
<div class="container mt-5 mb-5">
    <div class="bg-image img1"></div>
    <div class="row row-cols-auto justify-content-center g-5">
        <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="true" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner shadow-lg">
              <div class="carousel-item active">
                <img src="app\images\1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item shadow-lg">
                <img src="app\images\2.jpg" class="d-block w-100" alt="...">
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>