<style>
    .bg-glass {
        float: left;
        margin-top: 140px;
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        background: rgba(255, 255, 255, 0.795);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: solid transparent;
      }
        </style>
<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        <div class="form-group">
          <div class="">
            {{tableContent}}
          </div>
    </div>
</div>